@keyframes backgroundLevitating {
    0% {
        background-position: -60px 160px;
    }
    50% {
        background-position: -54px 140px;
    }
    100% {
        background-position: -60px 160px;
    }
}