$black: #000000;
$white: #FFFFFF;
$primary100: #B689FF;
$grape: #5F29B7;
$jacarta: #402E5C;
$rhythm: #7B708D;
$romanSilver: #8F889A;
$crayola: #B7B1C4;
$violet: #7952FF;
$lavender: #904BFF;
$blueViolet: #8441F1;
$chineseBlack: #0E0915;
$amethyst: #8A63CA;
$hanPurple: #5A2FED;
$electricViolet: #8F00FF;
$shockingPink: #FF00D6;
$philippineGray: #909090;
$oldLavender: #6E647D;
$amethyst200: #8E67CC;
$philippineSilver: #B4B4B4;
$plumpPurple: #6D45B9;
$brightLavender: #B496EE;
$royalPurple: #7061AA;
$persianIndigo: #340E73;
$blueVioletCrayola: #7E63B9;
$lavenderWeb: #E9E3F4;

$gradientHeading: linear-gradient(90deg, rgba($amethyst, 1) 0%, rgba($white, 1) 40%);
$gradientHeadingInverted: linear-gradient(270deg, rgba($amethyst, 1) 50%, rgba($white, 1) 100%);
$gradientVideoSection: linear-gradient(310deg, rgba($amethyst, 1) 0%, rgba($white, 1) 100%);
$gradientFeaturesSection: linear-gradient(-155deg, $royalPurple -34.49%, $persianIndigo 85.02%);
