@import 'styles/colors';
@import 'styles/mixins';

.anotherSection {
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
    border-radius: 40px;
    background-color: $black;
    padding: 75px 0 0;
}

.heading {
    text-align: center;
    font-size: 70px;
    font-weight: 300;
    @include gradientText($gradientVideoSection);
}