@import 'styles/colors';
@import 'styles/mixins';

.sliderContainer {
    display: flex;
    flex-direction: column;
    gap: 73px;
    transform: translateY(-66px);
}

.slider {
    display: grid;
    grid-template-columns: repeat(6, 343px);
    gap: 30px;
    padding: 0 208px;
    overflow-x: scroll;
    transition: all 0.1s;
    will-change: scroll-position;
}

.progressBarContainer {
    height: 5px;
    border-radius: 20px;
    margin: 0 208px;
    box-sizing: border-box;
    margin-top: 53px;
    background-color: #101010;
}

.progressBar {
    height: 100%;
    background-color: $amethyst;
    transition: 0.1s ease-in-out;
}

.navigationButtonsContainer {
    display: flex;
    gap: 22px;
    justify-content: flex-end;
    padding: 0 25px;
}

.prevButton {
    cursor: pointer;
    padding: 38px;
    border: 1px solid $philippineSilver;
    border-radius: 100%;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s;

    &:hover {
        border-color: $amethyst;
    }
}

.nextButton {
    cursor: pointer;
    max-width: 195px;
    padding: 39px 70px;
    border: 1px solid $philippineSilver;
    border-radius: 70px;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s;
    
    & > img {
        width: 100%;
        height: auto;
    }

    &:hover {
        border-color: $amethyst;
    }
}