@import 'styles/colors';
@import 'styles/mixins';

.sectionContainer {
    display: grid;
    place-items: center;
    padding: 464px 0 84px;
    background: url('../../assets/images/notFoundBackground.webp');
    background-size: cover;
    background-position: center -168px;
    background-repeat: no-repeat;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    & > h2 {
        font-size: 82.2px;
        font-weight: 500;
        line-height: 78.09px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    & > p {
        @include gradientText(linear-gradient(95.62deg, #FFFFFF 6.35%, #5F29B7 115.75%));
        font-size: 30px;
        font-weight: 300;
        line-height: 33.9px;
        letter-spacing: -0.04em;
        text-align: center;
    }
}

.createAccountButton {
    cursor: pointer;
    position: relative;
    align-self: center;
    padding: 26px 151px 26px 86px;
    color: $white;
    font-size: 28px;
    font-weight: 500;
    line-height: 26.04px;
    letter-spacing: -0.03em;
    text-align: center;
    border: none;
    border-radius: 70px;
    background-color: $grape;
    transition: all 0.3s;

    &:hover {
        background-color: $blueViolet;
    }
}

.buttonIconWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 43px;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    margin: auto 0;
    border-radius: 100%;
    border: 1px solid rgba($white, 0.4);

    & > img {
        transform: translateX(-25px);
    }
}